* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

.topnav {
    
    overflow: hidden;
    
}

  

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 15px;
  margin-right: 2px;

}

/* Change the color of links on hover */
.topnav a:hover {
  color:red;
}

/* Add a color to the active/current link */
.topnav a.active {
  
  color:white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.overlay-text{
    padding: 10px;
    text-align: left;
    position: absolute;
    top: 25%;
    transform: translate(15%,-15%);
    font-size: 30px;
    color: rgb(165, 69, 42);
    line-height: 60px;
}
.button {
    border: none;
    color: white;
    padding: 0px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color:  rgb(165, 73, 42);
    border-radius: 12px;
  }
  
  .test {
    display: flex;
    flex-direction: row;
}

.card {
   
    
    transition: 0.2s;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.menu{
  margin-left: 15%; margin-right: 15%;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.979);
  margin-bottom: 13%;
  

.card .container {
    padding: 50px 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.card {
  width: 30%;
  padding: 20px;
  
}
.card h3 {
  margin-top: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25%;
  
 
}
}
.footer{
  background-color:rgb(165, 73, 42) ;
  text-align: center;
  font-size: 20px;
  
  
}
